<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel='stylesheet' type='text/css' href='styles.css'>
</head>

<body>
<h1 style= "background-color: palegreen;">Home page</h1>

<form action="">
    <p>Range: <input type="text" name="range" size="15"></p>

    <!--<p>Trade record file: <input type="file" id="trade-record" name="trade-record"></p>-->
    <div id="dropzone" style="height:280px; border-style: dotted;">
        <p>Drag and drop a file here, or you can click the upload button to upload file</p>
        <input type="file" id="fileInput" name="fileInput" style= "display: block;">
    </div>
    <input type="submit">
</form>
<script>
const zone = document.getElementById('dropzone');
const fileInput = document.getElementById('fileInput');
zone.addEventListener('dragover', (event)=>{
    event.preventDefault();
    zone.style.backgroundColor = 'grey';
})
zone.addEventListener('dragleave', (event)=>{
    event.preventDefault();
    zone.style.backgroundColor = 'white';
})
zone.addEventListener('drop', (event)=>{
    event.preventDefault();
    var filee = event.dataTransfer.files;
    fileInput.files = filee;
    /*const para = document.createElement("p");
    para.innerText = filee.getAsFile().name;
    zone.appendChild(para);*/
    zone.style.backgroundColor = 'white';
})

</script>
</body>

</html>